<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.DarklandsMobile"
        android:supportsRtl="true">

        <!-- Glowny launcher gry. Hub testowy sprintow 9+ uruchamia sie z poziomu MainActivity. -->
        <activity android:name=".ui.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Activities sprzed sprintow UI 8-17 (rdzen gry: party, postac, ekwipunek, mapa, modlitwa itd.). -->
        <activity android:name=".ui.PartyActivity"      android:exported="false"/>
        <activity android:name=".ui.CharacterActivity"  android:exported="false"/>
        <activity android:name=".ui.InventoryActivity"  android:exported="false"/>
        <activity android:name=".ui.MapActivity"        android:exported="false"/>
        <activity android:name=".ui.PrayerActivity"     android:exported="false"/>
        <activity android:name=".ui.AlchemyActivity"    android:exported="false"/>
        <activity android:name=".ui.CombatActivity"     android:exported="false"/>
        <activity android:name=".ui.EndgameActivity"    android:exported="false"/>

        <!-- Sprint 9+: hub testowy i ekrany finalnego pakietu (miasto, reputacja, swieci, eventy, handel, transfer, status walki, questy, final). -->
        <activity android:name=".ui.HubActivity"               android:exported="false"/>
        <activity android:name=".ui.CityActivity"              android:exported="false"/>
        <activity android:name=".ui.ReputationActivity"        android:exported="false"/>
        <activity android:name=".ui.SaintsActivity"            android:exported="false"/>
        <activity android:name=".ui.CityEventsActivity"        android:exported="false"/>
        <activity android:name=".ui.TradeActivity"             android:exported="false"/>
        <activity android:name=".ui.InventoryTransferActivity" android:exported="false"/>
        <activity android:name=".ui.InventoryDetailActivity"   android:exported="false"/>
        <activity android:name=".ui.CombatStatusActivity"      android:exported="false"/>
        <activity android:name=".ui.QuestFinalActivity"        android:exported="false"/>
        <activity android:name=".ui.BaphometActivity"          android:exported="false"/>
    </application>
</manifest>
