<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.GrimReich"
        android:supportsRtl="true">

        <activity android:name=".ui.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.PartyActivity" android:exported="false"/>
        <activity android:name=".ui.CharacterActivity" android:exported="false"/>
        <activity android:name=".ui.InventoryActivity" android:exported="false"/>
        <activity android:name=".ui.MapActivity" android:exported="false"/>
        <activity android:name=".ui.PrayerActivity" android:exported="false"/>
        <activity android:name=".ui.AlchemyActivity" android:exported="false"/>
        <activity android:name=".ui.CombatActivity" android:exported="false"/>
        <activity android:name=".ui.EndgameActivity" android:exported="false"/>
        <activity android:name=".ui.HubActivity" android:exported="true"/>
        <activity android:name=".ui.CityActivity" android:exported="false"/>
        <activity android:name=".ui.ReputationActivity" android:exported="false"/>
        <activity android:name=".ui.SaintsActivity" android:exported="false"/>
        <activity android:name=".ui.CityEventsActivity" android:exported="false"/>
        <activity android:name=".ui.TradeActivity" android:exported="false"/>
        <activity android:name=".ui.InventoryTransferActivity" android:exported="false"/>
        <activity android:name=".ui.InventoryDetailActivity" android:exported="false"/>
        <activity android:name=".ui.CombatStatusActivity" android:exported="false"/>
        <activity android:name=".ui.QuestFinalActivity" android:exported="false"/>
        <activity android:name=".ui.FinaleActivity" android:exported="false"/>
        <activity android:name=".ui.EncounterActivity" android:exported="false"/>
    </application>
</manifest>
